<nav id="menu" class="navbar navbar-dark navbar-fixed-top col-12 bg-dark text-white  p-1 d-none d-md-block">
    <ul class="row w-50 mt-1">
        <li class="col col-md"><a class="nav-link text-white navbar-text font-weight-bold" href="/">Inicio</a>
        </li>
        <li class="col col-md"><a class="nav-link text-white font-weight-bold" href="/productos">Lista de
                productos</a></li>
    </ul>
</nav>