<%- include('partials/head.ejs') -%>

    <%- include('partials/nav.ejs') -%>
        <h1 class="text-center mt-5 font-weight-bold">
            <%- title -%>
        </h1>


        <%- include('partials/footer.ejs') -%>